extends layout

block content
  //- script.
  //-   class Donuts {
  //-     constructor(donut_type, num, price){
  //-       this.donut_type = donut_type
  //-       this.num = num
  //-       this.price = price
  //-     }
  //-   }

  h1= title

  - let items = results

  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        - let destination = `dispatch(\"/resource/update?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.donut_type}(#{item.num}) is #{item.price}        
          button.btn(class="btn-primary m1-1", onclick=destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }